.card {
	width: rem(420px);
	margin-top: rem(15px);
	padding: var(--mantine-spacing-lg);
	border-radius: var(--mantine-radius-default);
	box-shadow: var(--mantine-shadow-xl);
	border: rem(1px) solid var(--mantine-color-gray-3);

	@media (max-width: $mantine-breakpoint-sm) {
		width: rem(360);
	}
}
